.nav {
	padding: 10px 30px;
	display: flex;
	background-color: cyan;
	align-items: center;
}

.logo {
	background-color: white;
	padding: 5px;
	width: auto;
	height: 50px;
}

.nav_icon {
	transform: scale(1.4);
	margin: 10px 20px;
}

.logout {
	box-sizing: content-box;
	padding: 4px;
	border: 1px solid var(--secondary-text-color);
	border-radius: 4px;
	color: red;

	&:hover {
		cursor: pointer;
	}
}